/*setting initial setting*/
html {
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  overflow: auto;
}

body {
  overflow: hidden;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fff;
}

header {
  height: 100vh;
  text-align: center;
  padding: 4px;
}

.container {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  height: 72vh;
  margin: 2vh;
}
.container::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container.lecture::after {
  background-image: linear-gradient(135deg, purple, blue, green);
  opacity: 0.5;
}

.headerBackground {
  background-image: url("../img/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(74, 74, 140, 0.6);
  background-blend-mode: exclusion;
}

header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  z-index: 4;
}

header h2 {
  font-size: 2vw;
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  z-index: 1;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.btn {
  border-radius: 37px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #fff;
  color: #1e1f26;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  z-index: 1;
}
.btn:hover {
  background-color: #1e1f26;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.text-animation {
  animation: myAnim 1s ease-in 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.lecture {
  flex-direction: row;
  background-image: url("../img/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(74, 74, 140, 0.6);
  background-blend-mode: exclusion;
  justify-content: space-around;
}

.lectureCard {
  border-radius: 2px;
  position: relative;
  width: 20vw;
  height: 60vh;
  background-color: rgba(225, 225, 225, 0.7);
  text-align: center;
  z-index: 1;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  padding: 2vw;
  letter-spacing: 1px;
}
.lectureCard:hover {
  background-color: #1e1f26;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.lectureCard img {
  height: 15vh;
  filter: invert(1);
  display: block;
  margin: auto;
}

.lectureCard p {
  font-size: 18px;
  padding: 20px;
  height: 30vh;
  overflow: auto;
}

footer.container {
  background-color: #333333;
  height: 30vh;
  flex-direction: row;
  justify-content: space-around;
}

footer.container div {
  z-index: 1;
  border-top: 2px #3d3d3d solid;
  width: auto;
  height: 10vh;
  position: relative;
  padding: 0.5vh 1vw;
  color: #aeb8bf;
}

footer.container div a {
  padding: 1vw;
  color: #aeb8bf;
}

footer.container div p {
  margin-top: 0;
}

.relatedBooks {
  background-color: #f6f6f6;
  flex-direction: column;
}

.relatedBooks h1 {
  color: #103adf;
}

.bookCards {
  flex-direction: row;
  justify-content: space-between;
  height: 55vh;
  width: 90vw;
  margin: 0;
}

.flip-card {
  background-color: transparent;
  width: 20vw;
  height: 60vh;
  perspective: 1000px;
  z-index: 1;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .wrapper {
  transform: rotateY(180deg);
}

.front,
.back {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  z-index: 1;
}

.head {
  width: 100%;
  height: 22vh;
  background-color: rgb(130, 168, 225);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.head::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 132px;
  transform: skewY(-10deg);
  background-color: #fff;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 10vh;
  right: 0.5vw;
  background-origin: content-box;
  padding: 10px;
  z-index: 1;
}

.content {
  position: absolute;
  top: 190px;
  left: 25px;
  color: black;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-align: left;
  z-index: 1;
}

.content a {
  color: black;
  border-radius: 100px;
  background-color: #9e90a2;
  cursor: pointer;
  width: 3vw;
  height: 3vh;
  display: inline-block;
  padding: 0.5vw;
}

.pop-up {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.pop-up:target {
  visibility: visible;
  opacity: 1;
}

.pop-up__content {
  height: 30vh;
  width: 75%;
  background-color: #828489;
  border-radius: 8px;
  transform: scale(0.5);
  transition: all 0.5s;
  position: relative;
}

.pop-up:target .pop-up__content {
  transform: scale(1);
}

.pop-up__close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #d0efb1;
  font-size: 25px;
  font-weight: 700;
}

#menu {
  z-index: 4;
}
