/*setting initial setting*/
html {
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  overflow: auto;
}

body {
  overflow: hidden;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fff;
}

header {
  height: 100vh;
  text-align: center;
  padding: 4px;
}

.container {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  height: 72vh;
  margin: 2vh;
}
.container::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.headerBackground {
  background-image: url("/img/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(74, 74, 140, 0.6);
  background-blend-mode: exclusion;
}

header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  z-index: 4;
}

header h2 {
  font-size: 2vw;
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  z-index: 4;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.btn {
  border-radius: 37px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #fff;
  color: #1e1f26;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  z-index: 4;
}
.btn:hover {
  background-color: #1e1f26;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.text-animation {
  animation: myAnim 1s ease-in 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.lecture {
  flex-direction: row;
  background-image: url("/img/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(74, 74, 140, 0.6);
  background-blend-mode: exclusion;
  justify-content: space-around;
}

.lectureCard {
  border-radius: 2px;
  position: relative;
  width: 20vw;
  height: 60vh;
  background-color: rgba(225, 225, 225, 0.7);
  text-align: center;
  z-index: 4;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  padding: 2vw;
  letter-spacing: 1px;
}
.lectureCard:hover {
  background-color: #1e1f26;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.lectureCard img {
  height: 15vh;
  filter: invert(1);
  display: block;
  margin: auto;
}

.lectureCard p {
  font-size: 18px;
  padding: 20px;
  height: 30vh;
  overflow: auto;
}

.relatedBooks {
  background-color: #f6f6f6;
}

footer.container {
  background-color: #333333;
  height: 30vh;
  flex-direction: row;
  justify-content: space-around;
}

footer.container div {
  z-index: 4;
  border-top: 2px #3d3d3d solid;
  width: auto;
  height: 10vh;
  position: relative;
  padding: 0.5vh 1vw;
  color: #aeb8bf;
}

footer.container div a {
  padding: 1vw;
  color: #aeb8bf;
}

footer.container div p {
  margin-top: 0;
}
